@import url('https://fonts.googleapis.com/css2?family=Amatic+SC&family=Kaushan+Script&family=Poiret+One&family=Zen+Loop&display=swap');

body {
  background: rgb(0, 0, 0);
}

.bubbles-animation1{
  top: 30%;
  left: 10%;
  height: 8px;
  width: 8px;
  background: rgb(97, 255, 5);
  box-shadow: 
    0px 0px 10px rgb(97, 255, 5),
    0px 0px 20px rgb(97, 255, 5),
    0px 0px 30px rgb(97, 255, 5),
    0px 0px 40px rgb(97, 255, 5),
    0px 0px 50px rgb(97, 255, 5),
    inset -10px -10px rgba(255,255,255,.2),
    inset -20px -20px rgba(255,255,255,.2),
    inset -30px -30px rgba(255,255,255,.2),
    inset -40px -40px rgba(255,255,255,.2),
    inset -50px -50px rgba(255,255,255,.2);
  border-radius: 50px;
  position: absolute;
  animation: animate 7s linear infinite;
  z-index: 100;
}

.bubbles-animation2{
  top: 60%;
  left: 90%;
  animation: animate 10s linear infinite;
  height: 5px;
  width: 5px;
  background: rgb(97, 255, 5);
  box-shadow: 
    0px 0px 10px rgb(97, 255, 5),
    0px 0px 20px rgb(97, 255, 5),
    0px 0px 30px rgb(97, 255, 5),
    0px 0px 40px rgb(97, 255, 5),
    0px 0px 50px rgb(97, 255, 5),
    inset -10px -10px rgba(255,255,255,.2),
    inset -20px -20px rgba(255,255,255,.2),
    inset -30px -30px rgba(255,255,255,.2),
    inset -40px -40px rgba(255,255,255,.2),
    inset -50px -50px rgba(255,255,255,.2);  
  border-radius: 50px;
  position: absolute;
  z-index: 100;
}

.bubbles-animation3{
  top: 40%;
  left: 40%;
  animation: animate 15s linear infinite;
  height: 10px;
  width: 10px;
  background: rgb(97, 255, 5);
  box-shadow: 
    0px 0px 10px rgb(97, 255, 5),
    0px 0px 20px rgb(97, 255, 5),
    0px 0px 30px rgb(97, 255, 5),
    0px 0px 40px rgb(97, 255, 5),
    0px 0px 50px rgb(97, 255, 5),
    inset -10px -10px rgba(255,255,255,.2),
    inset -20px -20px rgba(255,255,255,.2),
    inset -30px -30px rgba(255,255,255,.2),
    inset -40px -40px rgba(255,255,255,.2),
    inset -50px -50px rgba(255,255,255,.2);  
  border-radius: 50px;
  position: absolute;
  z-index: 100;
}

.bubbles-animation4{
  top: 66%;
  left: 30%;
  animation: animate 7s linear infinite;
  height: 9px;
  width: 9px;
  background: rgb(97, 255, 5);
  box-shadow: 
    0px 0px 10px rgb(97, 255, 5),
    0px 0px 20px rgb(97, 255, 5),
    0px 0px 30px rgb(97, 255, 5),
    0px 0px 40px rgb(97, 255, 5),
    0px 0px 50px rgb(97, 255, 5),
    inset -10px -10px rgba(255,255,255,.2),
    inset -20px -20px rgba(255,255,255,.2),
    inset -30px -30px rgba(255,255,255,.2),
    inset -40px -40px rgba(255,255,255,.2),
    inset -50px -50px rgba(255,255,255,.2); 
  border-radius: 50px;
  position: absolute;
  z-index: 100;
}

.bubbles-animation5{
  top: 89%;
  left: 5%;
  animation: animate 9s linear infinite;
  height: 5px;
  width: 5px;
  background: rgb(97, 255, 5);
  box-shadow: 
    0px 0px 10px rgb(97, 255, 5),
    0px 0px 20px rgb(97, 255, 5),
    0px 0px 30px rgb(97, 255, 5),
    0px 0px 40px rgb(97, 255, 5),
    0px 0px 50px rgb(97, 255, 5),
    inset -10px -10px rgba(255,255,255,.2),
    inset -20px -20px rgba(255,255,255,.2),
    inset -30px -30px rgba(255,255,255,.2),
    inset -40px -40px rgba(255,255,255,.2),
    inset -50px -50px rgba(255,255,255,.2);  
  border-radius: 50px;
  position: absolute;
  z-index: 100;
}

.bubbles-animation6{
  top: 30%;
  left: 95%;
  animation: animate 10s linear infinite;
  height: 9px;
  width: 9px;
  background: rgb(97, 255, 5);
  box-shadow: 
  0px 0px 10px rgb(97, 255, 5),
  0px 0px 20px rgb(97, 255, 5),
  0px 0px 30px rgb(97, 255, 5),
  0px 0px 40px rgb(97, 255, 5),
  0px 0px 50px rgb(97, 255, 5),
  inset -10px -10px rgba(255,255,255,.2),
  inset -20px -20px rgba(255,255,255,.2),
  inset -30px -30px rgba(255,255,255,.2),
  inset -40px -40px rgba(255,255,255,.2),
  inset -50px -50px rgba(255,255,255,.2); 
  border-radius: 50px;
  position: absolute;
  z-index: 100;
}

.bubbles-animation7{
  top: 80%;
  left: 18%;
  animation: animate 4s linear infinite;
  z-index: 100;
  height: 7px;
  width: 7px;
  background: rgb(97, 255, 5);
  box-shadow: 
    0px 0px 10px rgb(97, 255, 5),
    0px 0px 20px rgb(97, 255, 5),
    0px 0px 30px rgb(97, 255, 5),
    0px 0px 40px rgb(97, 255, 5),
    0px 0px 50px rgb(97, 255, 5),
    inset -10px -10px rgba(255,255,255,.2),
    inset -20px -20px rgba(255,255,255,.2),
    inset -30px -30px rgba(255,255,255,.2),
    inset -40px -40px rgba(255,255,255,.2),
    inset -50px -50px rgba(255,255,255,.2);  
  border-radius: 50px;
  position: absolute;
  z-index: 100;
}

.bubbles-animation8{
  top: 80%;
  left: 60%;
  animation: animate 10s linear infinite;
  z-index: 100;
  height: 5px;
  width: 5px;
  background: rgb(97, 255, 5);
  box-shadow: 
    0px 0px 10px rgb(97, 255, 5),
    0px 0px 20px rgb(97, 255, 5),
    0px 0px 30px rgb(97, 255, 5),
    0px 0px 40px rgb(97, 255, 5),
    0px 0px 50px rgb(97, 255, 5),
    inset -10px -10px rgba(255,255,255,.2),
    inset -20px -20px rgba(255,255,255,.2),
    inset -30px -30px rgba(255,255,255,.2),
    inset -40px -40px rgba(255,255,255,.2),
    inset -50px -50px rgba(255,255,255,.2); 
  border-radius: 50px;
  position: absolute;
  z-index: 100;
}

.bubbles-animation9{
  top: 50%;
  left: 60%;
  animation: animate 13s linear infinite;
  z-index: 100;
  height: 7px;
  width: 7px;
  background: rgb(97, 255, 5);
  box-shadow: 
    0px 0px 10px rgb(97, 255, 5),
    0px 0px 20px rgb(97, 255, 5),
    0px 0px 30px rgb(97, 255, 5),
    0px 0px 40px rgb(97, 255, 5),
    0px 0px 50px rgb(97, 255, 5),
    inset -10px -10px rgba(255,255,255,.2),
    inset -20px -20px rgba(255,255,255,.2),
    inset -30px -30px rgba(255,255,255,.2),
    inset -40px -40px rgba(255,255,255,.2),
    inset -50px -50px rgba(255,255,255,.2);
  border-radius: 50px;
  position: absolute;
  z-index: 100;
}
.bubbles-animation10{
  top: 45%;
  left: 20%;
  animation: animate 6s linear infinite;
  height: 5px;
  width: 5px;
  background: rgb(97, 255, 5);
  box-shadow: 
  0px 0px 10px rgb(97, 255, 5),
  0px 0px 20px rgb(97, 255, 5),
  0px 0px 30px rgb(97, 255, 5),
  0px 0px 40px rgb(97, 255, 5),
  0px 0px 50px rgb(97, 255, 5),
  inset -10px -10px rgba(255,255,255,.2),
  inset -20px -20px rgba(255,255,255,.2),
  inset -30px -30px rgba(255,255,255,.2),
  inset -40px -40px rgba(255,255,255,.2),
  inset -50px -50px rgba(255,255,255,.2); 
  border-radius: 50px;
  position: absolute;
  z-index: 100;
}
.bubbles-animation11{
  top: 10%;
  left: 85%;
  animation: animate 13s linear infinite;
  height: 5px;
  width: 5px;
  background: rgb(97, 255, 5);
  box-shadow: 
  0px 0px 10px rgb(97, 255, 5),
  0px 0px 20px rgb(97, 255, 5),
  0px 0px 30px rgb(97, 255, 5),
  0px 0px 40px rgb(97, 255, 5),
  0px 0px 50px rgb(97, 255, 5),
  inset -10px -10px rgba(255,255,255,.2),
  inset -20px -20px rgba(255,255,255,.2),
  inset -30px -30px rgba(255,255,255,.2),
  inset -40px -40px rgba(255,255,255,.2),
  inset -50px -50px rgba(255,255,255,.2); 
  border-radius: 50px;
  position: absolute;
  z-index: 100;
}

.bubbles-animation12{
  top: 20%;
  left: 80%;
  animation: animate 10s linear infinite;
  z-index: 100;
  height: 8px;
  width: 8px;
  background: rgb(97, 255, 5);
  box-shadow: 
  0px 0px 10px rgb(97, 255, 5),
  0px 0px 20px rgb(97, 255, 5),
  0px 0px 30px rgb(97, 255, 5),
  0px 0px 40px rgb(97, 255, 5),
  0px 0px 50px rgb(97, 255, 5),
  inset -10px -10px rgba(255,255,255,.2),
  inset -20px -20px rgba(255,255,255,.2),
  inset -30px -30px rgba(255,255,255,.2),
  inset -40px -40px rgba(255,255,255,.2),
  inset -50px -50px rgba(255,255,255,.2);
  border-radius: 50px;
  position: absolute;
}

.bubbles-animation13{
  top: 20%;
  left: 15%;
  animation: animate 14s linear infinite;
  z-index: 100;
  height: 10px;
  width: 10px;
  background: rgb(97, 255, 5);
  box-shadow: 
    0px 0px 10px rgb(97, 255, 5),
    0px 0px 20px rgb(97, 255, 5),
    0px 0px 30px rgb(97, 255, 5),
    0px 0px 40px rgb(97, 255, 5),
    0px 0px 50px rgb(97, 255, 5),
    inset -10px -10px rgba(255,255,255,.2),
    inset -20px -20px rgba(255,255,255,.2),
    inset -30px -30px rgba(255,255,255,.2),
    inset -40px -40px rgba(255,255,255,.2),
    inset -50px -50px rgba(255,255,255,.2); 
  border-radius: 50px;
  position: absolute;
}

.bubbles-animation14{
  top: 65%;
  left: 5%;
  animation: animate 5s linear infinite;
  z-index: 100;
  height: 8px;
  width: 8px;
  background: rgb(97, 255, 5);
  box-shadow: 
    0px 0px 10px rgb(97, 255, 5),
    0px 0px 20px rgb(97, 255, 5),
    0px 0px 30px rgb(97, 255, 5),
    0px 0px 40px rgb(97, 255, 5),
    0px 0px 50px rgb(97, 255, 5),
    inset -10px -10px rgba(255,255,255,.2),
    inset -20px -20px rgba(255,255,255,.2),
    inset -30px -30px rgba(255,255,255,.2),
    inset -40px -40px rgba(255,255,255,.2),
    inset -50px -50px rgba(255,255,255,.2); 
  border-radius: 50px;
  position: absolute;
}

.bubbles-animation15{
  top: 70%;
  left: 70%;
  animation: animate 8s linear infinite;
  z-index: 100;
  height: 5px;
  width: 5px;
  background: rgb(97, 255, 5);
  box-shadow: 
    0px 0px 10px rgb(97, 255, 5),
    0px 0px 20px rgb(97, 255, 5),
    0px 0px 30px rgb(97, 255, 5),
    0px 0px 40px rgb(97, 255, 5),
    0px 0px 50px rgb(97, 255, 5),
    inset -10px -10px rgba(255,255,255,.2),
    inset -20px -20px rgba(255,255,255,.2),
    inset -30px -30px rgba(255,255,255,.2),
    inset -40px -40px rgba(255,255,255,.2),
    inset -50px -50px rgba(255,255,255,.2); 
  border-radius: 50px;
  position: absolute;
}

.bubbles-animation16{
  top: 85%;
  left: 80%;
  animation: animate 5s linear infinite;
  z-index: 100;
  height: 5px;
  width: 5px;
  background: rgb(97, 255, 5);
  box-shadow: 
  0px 0px 10px rgb(97, 255, 5),
  0px 0px 20px rgb(97, 255, 5),
  0px 0px 30px rgb(97, 255, 5),
  0px 0px 40px rgb(97, 255, 5),
  0px 0px 50px rgb(97, 255, 5),
  inset -10px -10px rgba(255,255,255,.2),
  inset -20px -20px rgba(255,255,255,.2),
  inset -30px -30px rgba(255,255,255,.2),
  inset -40px -40px rgba(255,255,255,.2),
  inset -50px -50px rgba(255,255,255,.2); 
  border-radius: 50px;
  position: absolute;
}

.bubbles-animation17{
  top: 45%;
  left: 28%;
  animation: animate 10s linear infinite;
  z-index: 100;
  height: 8px;
  width: 8px;
  background: rgb(97, 255, 5);
  box-shadow: 
  0px 0px 10px rgb(97, 255, 5),
  0px 0px 20px rgb(97, 255, 5),
  0px 0px 30px rgb(97, 255, 5),
  0px 0px 40px rgb(97, 255, 5),
  0px 0px 50px rgb(97, 255, 5),
  inset -10px -10px rgba(255,255,255,.2),
  inset -20px -20px rgba(255,255,255,.2),
  inset -30px -30px rgba(255,255,255,.2),
  inset -40px -40px rgba(255,255,255,.2),
  inset -50px -50px rgba(255,255,255,.2); 
  border-radius: 50px;
  position: absolute;
}

.bubbles-animation18{
  top: 90%;
  left: 25%;
  animation: animate 5s linear infinite;
  z-index: 100;
  height: 5px;
  width: 5px;
  background: rgb(97, 255, 5);
  box-shadow: 
  0px 0px 10px rgb(97, 255, 5),
  0px 0px 20px rgb(97, 255, 5),
  0px 0px 30px rgb(97, 255, 5),
  0px 0px 40px rgb(97, 255, 5),
  0px 0px 50px rgb(97, 255, 5),
  inset -10px -10px rgba(255,255,255,.2),
  inset -20px -20px rgba(255,255,255,.2),
  inset -30px -30px rgba(255,255,255,.2),
  inset -40px -40px rgba(255,255,255,.2),
  inset -50px -50px rgba(255,255,255,.2); 
  border-radius: 50px;
  position: absolute;
}

.bubbles-animation19{
  top: 90%;
  left: 95%;
  animation: animate 10s linear infinite;
  z-index: 100;
  height: 5px;
  width: 5px;
  background: rgb(97, 255, 5);
  box-shadow: 
    0px 0px 10px rgb(97, 255, 5),
    0px 0px 20px rgb(97, 255, 5),
    0px 0px 30px rgb(97, 255, 5),
    0px 0px 40px rgb(97, 255, 5),
    0px 0px 50px rgb(97, 255, 5),
    inset -10px -10px rgba(255,255,255,.2),
    inset -20px -20px rgba(255,255,255,.2),
    inset -30px -30px rgba(255,255,255,.2),
    inset -40px -40px rgba(255,255,255,.2),
    inset -50px -50px rgba(255,255,255,.2);  
  border-radius: 50px;
  position: absolute;
}

.bubbles-animation20{
  top: 59%;
  left: 78%;
  animation: animate 7s linear infinite;
  z-index: 100;
  height: 3px;
  width: 3px;
  background: rgb(97, 255, 5);
  box-shadow: 
  0px 0px 10px rgb(97, 255, 5),
  0px 0px 20px rgb(97, 255, 5),
  0px 0px 30px rgb(97, 255, 5),
  0px 0px 40px rgb(97, 255, 5),
  0px 0px 50px rgb(97, 255, 5),
  inset -10px -10px rgba(255,255,255,.2),
  inset -20px -20px rgba(255,255,255,.2),
  inset -30px -30px rgba(255,255,255,.2),
  inset -40px -40px rgba(255,255,255,.2),
  inset -50px -50px rgba(255,255,255,.2);  
  border-radius: 50px;
  position: absolute;
}

.bubbles-animation21{
  top: 95%;
  left: 56%;
  animation: animate 6s linear infinite;
  z-index: 100;
  height: 3px;
  width: 3px;
  background: rgb(97, 255, 5);
  box-shadow: 
    0px 0px 10px rgb(97, 255, 5),
    0px 0px 20px rgb(97, 255, 5),
    0px 0px 30px rgb(97, 255, 5),
    0px 0px 40px rgb(97, 255, 5),
    0px 0px 50px rgb(97, 255, 5),
    inset -10px -10px rgba(255,255,255,.2),
    inset -20px -20px rgba(255,255,255,.2),
    inset -30px -30px rgba(255,255,255,.2),
    inset -40px -40px rgba(255,255,255,.2),
    inset -50px -50px rgba(255,255,255,.2); 
  border-radius: 50px;
  position: absolute;
}

.bubbles-animation22{
  top: 66%;
  left: 65%;
  animation: animate 4s linear infinite;
  z-index: 100;
  height: 3px;
  width: 3px;
  background: rgb(97, 255, 5);
  box-shadow: 
  0px 0px 10px rgb(97, 255, 5),
  0px 0px 20px rgb(97, 255, 5),
  0px 0px 30px rgb(97, 255, 5),
  0px 0px 40px rgb(97, 255, 5),
  0px 0px 50px rgb(97, 255, 5),
  inset -10px -10px rgba(255,255,255,.2),
  inset -20px -20px rgba(255,255,255,.2),
  inset -30px -30px rgba(255,255,255,.2),
  inset -40px -40px rgba(255,255,255,.2),
  inset -50px -50px rgba(255,255,255,.2);
  border-radius: 50px;
  position: absolute;
}


.bubbles-animation23{
  top: 35%;
  left: 4%;
  animation: animate 10s linear infinite;
  z-index: 100;
  height: 6px;
  width: 6px;
  background: rgb(97, 255, 5);
  box-shadow: 
    0px 0px 10px rgb(97, 255, 5),
    0px 0px 20px rgb(97, 255, 5),
    0px 0px 30px rgb(97, 255, 5),
    0px 0px 40px rgb(97, 255, 5),
    0px 0px 50px rgb(97, 255, 5),
    inset -10px -10px rgba(255,255,255,.2),
    inset -20px -20px rgba(255,255,255,.2),
    inset -30px -30px rgba(255,255,255,.2),
    inset -40px -40px rgba(255,255,255,.2),
    inset -50px -50px rgba(255,255,255,.2);
  border-radius: 50px;
  position: absolute;
}

.bubbles-animation24{
  top: 60%;
  left: 13%;
  animation: animate 12s linear infinite;
  z-index: 100;
  height: 4px;
  width: 4px;
  background: rgb(97, 255, 5);
  box-shadow: 
  0px 0px 10px rgb(97, 255, 5),
  0px 0px 20px rgb(97, 255, 5),
  0px 0px 30px rgb(97, 255, 5),
  0px 0px 40px rgb(97, 255, 5),
  0px 0px 50px rgb(97, 255, 5),
  inset -10px -10px rgba(255,255,255,.2),
  inset -20px -20px rgba(255,255,255,.2),
  inset -30px -30px rgba(255,255,255,.2),
  inset -40px -40px rgba(255,255,255,.2),
  inset -50px -50px rgba(255,255,255,.2);
  border-radius: 50px;
  position: absolute;
}

.bubbles-animation25{
  top: 85%;
  left: 35%;
  animation: animate 10s linear infinite;
  z-index: 100;
  height: 6px;
  width: 6px;
  background: rgb(97, 255, 5);
 box-shadow: 
    0px 0px 10px rgb(97, 255, 5),
    0px 0px 20px rgb(97, 255, 5),
    0px 0px 30px rgb(97, 255, 5),
    0px 0px 40px rgb(97, 255, 5),
    0px 0px 50px rgb(97, 255, 5),
    inset -10px -10px rgba(255,255,255,.2),
    inset -20px -20px rgba(255,255,255,.2),
    inset -30px -30px rgba(255,255,255,.2),
    inset -40px -40px rgba(255,255,255,.2),
    inset -50px -50px rgba(255,255,255,.2);  
  border-radius: 50px;
  position: absolute;
}

@keyframes animate {
  to{
    opacity: 1;
    transform: scale(0) translateY(0) rotate(70deg);
  }
  100%{
    opacity: 0;
    transform: scale(2) translateY(-100px) rotate(360deg);
  }
}

.titulo{
  font-size: 30px;
  color: white;
  font-family: 'Kaushan Script', cursive;
  animation: headShake linear infinite;
  animation-duration: 6s;
}

.parrafo{
  font-size: 15px;
  color: white;
  font-family: 'Poiret One', cursive;
}

.heart{
  width: 200px;
}
  
.container-interno {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
}
  
.container-interno p {
  font-size: 1.5rem;
  color: rgb(255, 255, 255);
  font-family: 'Zen Loop', cursive;
}
  
.container-interno h3 {
  font-size: 1.5rem;
  color: rgb(234, 238, 176);
  font-family: 'Amatic SC', cursive;
}
  
.btn-love {
  margin-top: 10px;
}

.btn-info1{
  background: rgba(255, 192, 203, 0.212);
  border-color: white;
  color: white;
  border-radius: 20px;
  box-shadow: none;
  font-family: 'Poiret One', cursive;
}

.btn-info1:hover{
  background: rgba(128, 0, 128, 0.089);
  border-color: purple;
  color: white;
  box-shadow: none;
}

.btn-volver{
  background: rgba(255, 0, 0, 0.192);
  font-family: 'Poiret One', cursive;
  border-color: white;
  color: white;
  border-radius: 50px;
  box-shadow: none;
}

.btn-volver:hover{
  background: red;
  border-color: white;
  color: white;
  box-shadow: none;
}

.bunny{
  width: 150px;
}
  
@media(max-width:480px) {
  .titulo {
    font-size: 1.2rem;
  }
  .parrafo {
    font-size: 1rem;
  }
}